<<<<<<< HEAD:style.css
body{
    font-size:22px;
    background-color:orange;
}

article{
    font-family: 'Permanent Marker', cursive;
    background-color:blue;
    font-size:1.2em;

}


h1{
    font-family: "Lobster", cursive;
    font-size:1.2em;
}    



section{
    background-color: pink;
}

header{
    font-family:"Acme", sans-serif;
text-decoration: underline wavy blue;
background-color:pink;
=======
body{
    font-size:22px;
    background-color:orange;
}

article{
    font-family: 'Permanent Marker', cursive;
    background-color:blue;
    

}


h1{
    font-family: "Lobster", cursive;
}



section{
    background-color: pink;
>>>>>>> 7a2d49382046df930deda90ace81b861728be47e:pages/style.css
}