body{
    font-size:22px;
    background-color:orange;
}

article{
    font-family: 'Permanent Marker', cursive;
    background-color:blue;
    

}


h1{
    font-family: "Lobster", cursive;
}



section{
    background-color: pink;
}